server:
  port: 8010

spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:postgresql://localhost:5432/monarch_platform
    username: monarch
    password: monarch_dev
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

logging:
  level:
    com.monarch: DEBUG
